<h3>Numbers</h3>

<div style="display: flex; flex-direction: row;">
    @foreach(var number in numbers)
    {
        <p style="color: purple; font-size: 25px; margin: 10px;">@number</p>
    }
</div>

@code {
    private List<int> numbers = new List<int>
    {
        1, 2, 3, 4, 5, 6, 7, 8, 9, 10
    };
}
