@page "/aboutUs"
@inject NumbersService NumbService;
@attribute [Authorize(Roles = "User")]
@attribute [Authorize(Roles = "Admin")]

<PageTitle>About ussss</PageTitle>

<h3>AboutUs</h3>
@*<Numbers></Numbers>
<Index></Index>
<Counter></Counter>
<FetchData></FetchData>*@

@foreach (var number in NumbService.Numbers)
{
    @number
}

@code {

}
